import { createApp } from 'vue';
import App from './App.vue';<% if (routing) { %>
  import router from './router';<% } %>

    createApp(App)<% if (routing) { %>
      .use(router)<% } %>
        .mount('#app');