import { createApp } from 'vue';
import App from './App.vue';<% if (routing) { %>
import router from './router';<% } %>

Vue.config.productionTip = false;

createApp(App)<% if (routing) { %>
  .use(router)<% } %>
  .mount('#app');